@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<!-- Carrossel -->
<div class="carousel-container">
    <div class="carousel-track">
        <img src="./img/1.jpg" class="carousel-img" alt="Imagem 1">
        <img src="./img/2.jpg" class="carousel-img" alt="Imagem 2">
        <img src="./img/3.jpg" class="carousel-img" alt="Imagem 3">
        <img src="./img/4.jpg" class="carousel-img" alt="Imagem 4">
        <!-- Duplicação para criar um loop contínuo -->
        <img src="./img/1.jpg" class="carousel-img" alt="Imagem 1 (duplicada)">
        <img src="./img/2.jpg" class="carousel-img" alt="Imagem 2 (duplicada)">
        <img src="./img/3.jpg" class="carousel-img" alt="Imagem 3 (duplicada)">
        <img src="./img/4.jpg" class="carousel-img" alt="Imagem 4 (duplicada)">
    </div>
</div>