@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<!-- Carrossel -->
<div class="carousel-container">
    <div class="carousel-track">
        <img src="./img/1.jpg" class="carousel-img" alt="Imagem 1">
        <img src="./img/2.jpg" class="carousel-img" alt="Imagem 2">
        <img src="./img/3.jpg" class="carousel-img" alt="Imagem 3">
        <img src="./img/4.jpg" class="carousel-img" alt="Imagem 4">
        <!-- Duplicação para criar um loop contínuo -->
        <img src="./img/1.jpg" class="carousel-img" alt="Imagem 1 (duplicada)">
        <img src="./img/2.jpg" class="carousel-img" alt="Imagem 2 (duplicada)">
        <img src="./img/3.jpg" class="carousel-img" alt="Imagem 3 (duplicada)">
        <img src="./img/4.jpg" class="carousel-img" alt="Imagem 4 (duplicada)">
    </div>
</div>
<h2 class="h2">ENSAIOS RECENTES</h2>
<div class="ensaios-container">
    <div class="ensaio-item">
        <img src="./img/2.jpg" alt="BEATRIZ E JR" class="ensaios" />
        <span class="ensaio-titulo">BEATRIZ E JUNIOR</span>
    </div>
    <div class="ensaio-item">
        <img src="./img/4.jpg" alt="VITORIA" class="ensaios" />
        <span class="ensaio-titulo">VITORIA</span>
    </div>
    <div class="ensaio-item">
        <img src="./img/3.jpg" alt="LEILA" class="ensaios" />
        <span class="ensaio-titulo">LEILA</span>
    </div>
</div>

<div class="button-container">
    <button class="button-more-post">VER MAIS POSTS</button>
</div>
<div class="feadbanck-container">
    <div>
        <h3 class ="titulo">O QUE NOSSOS CLIENTES FALAM</h3>
    </div>
</div>